@{
    ViewData["Title"] = "Home Page";
    var numero = 10;
}
@inject Demo05.Models.Carros carros


<vc:grid lista="@carros.ListarCarros()"></vc:grid>
<telefone>991777337</telefone>

<br />
<br />

<a asp-action="Privacy">Tast Tag Helper</a>






